*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --col-background-color: snow;
  --col-highlight-color: rgb(113, 87, 189);
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--col-background-color);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.custom-radio {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
  background-clip: content-box;
  transition: background-color 0.25s linear;
  padding: 0.25em;
}

.custom-radio:checked {
  background-color: var(--col-highlight-color);
}

.custom-radio:focus {
  box-shadow: 0 0 0.25em var(--col-highlight-color),
    0 0 0.5em var(--col-highlight-color);
}
